<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    	<% movies.forEach( function (entry){ %>
    		<li><%= entry.name %></li>
    		<% }); %>
    </ul>
    <a href="/playlist">View your playlists! </a> <br>
    <a href="/playlist/new">Or make a new one! </a>
  </body>
</html>
