<html>
	<head>
		<title>Netflix Remote | Login </title>
	</head>
	<body>
		<h1>Netflix Remote </h1>
	<div id=message><%= message %></div>
	<form action="/login" method="post">
    	Username : <input type="text" name="username"><br>
    	Password : <input type="password" name="password"><br>
    	<button type="submit">Submit</button>
    </form>

    <a href="/user/new">Create new user</a>
    </body>
</html>